/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/layout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.layout_container__5R52X {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.layout_header__H1FPN {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_backToHome__tn1X1 {
  margin: 3rem 0 0;
}



